{{define "title"}}About{{end}}
{{define "main"}}
 <h2>About</h2>
 <p>Welcome to Poiesis, a web application designed to help you capture
 and organize your thoughts, ideas, and creative work seamlessly. Whether you are
 a writer, artist, or thinker, Poiesis provides a platform where inspiration meets
 functionality, allowing you to create, store, and share your content with ease. </p>
{{end}}
